* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    height: 4000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    border-bottom: 1px solid #f3f3f4;
}

.header .body {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 50px;
}

.header .nav {
    display: flex;
    margin-left: 32px;
}

.header .nav a {
    padding: 8px 21px;
    font-size: 15px;
    color: #565e6c;
}

.header .nav a:hover {
}
.header .nav a:hover,
.header .nav .active a {
    color: #00bdd6;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}

.header .nav .active a::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 4px;
    background: #00bdd6;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.header .search {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
}

.header .find {
    background: #f3f4f6;
}

.header .find i {
    font-size: 14px;
    color: #6a6c70;
    padding: 0 4px 0 10px;
}

.header .search input {
    width: 333px;
    height: 36px;
    background: #f3f4f6;
    border: none;
    outline: none;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #bcc1ca;
}
