* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    height: 4000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 900;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.separate {
    width: 1200px;
    height: 2px;
    background-color: #f6f3f3;
    margin: 44px auto 0;
}

/* Header */

.header {
    border-bottom: 1px solid #f3f3f4;
}

.header .body {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 50px;
}

.header .nav {
    display: flex;
    margin-left: 32px;
}

.header .nav a {
    padding: 8px 21px;
    font-size: 15px;
    color: #565e6c;
}

.header .nav a:hover,
.header .nav .active a {
    color: #00bdd6;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}

.header .nav .active a::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 4px;
    background: #00bdd6;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.header .search {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
}

.header .find {
    background: #f3f4f6;
}

.header .find i {
    font-size: 14px;
    color: #6a6c70;
    padding: 0 4px 0 10px;
}

.header .search input {
    width: 333px;
    height: 36px;
    background: #f3f4f6;
    border: none;
    outline: none;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #bcc1ca;
}

/* Product title */

.product-title {
    margin-top: 54px;
}

.product-title .row-nav {
    display: flex;
}

.row-nav h4 {
    margin-right: 6px;
    color: #9095a0;
    font-size: 14px;
    font-weight: 100;
}

.row-nav a:last-child h4 {
    color: #171a1f;
}

.product-title .heading {
    margin-top: 16px;
    font-size: 50px;
}

.product-title .ratting {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratting-left b {
    font-size: 14px;
    margin-left: 4px;
}

.ratting-left span {
    color: #9095a0;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.ratting .ratting-right {
    gap: 50px;
}

.ratting .ratting-left,
.ratting .ratting-right,
.ratting .ratting-right .share,
.ratting .ratting-right .heart {
    display: flex;
    align-items: center;
}

.ratting .ratting-right a {
    color: #171a1f;
    font-size: 13px;
    margin-left: 8px;
}

.ratting .ratting-right i {
    color: #5b5656;
}

.ratting .ratting-right img {
    width: 16px;
    height: 18px;
}

.product-title .list-images {
    margin-top: 16px;
    display: flex;
    gap: 30px;
}

.product-title .img-main img {
    height: 100%;
    transition: ease 0.3s;
}

.product-title .img-main img:hover,
.product-title .img-sub img:hover {
    box-shadow: 0 0 8px 4px rgba(209, 205, 205, 0.4);
}

.product-title .img-sub {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.product-title .img-sub a {
    width: calc(50% - 9px);
}

.product-title .img-sub a img {
    height: 100%;
    transition: ease 0.3s;
}

/* Product description */

.product-description-pricing {
    margin-top: 46px;
}

.product-description-pricing .body {
    display: flex;
    justify-content: space-between;
}

.product-description .desc-1,
.product-description .desc-2 {
    width: 777px;
    line-height: 1.6;
    font-size: 15px;
}

.product-description .desc-1 {
    margin-top: 26px;
}

.product-description .list-choice {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.list-choice .row {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 28px;
}

.list-choice li:last-child .row {
    gap: 32px;
}

.list-choice .row a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #171a1f;
    font-size: 15px;
}

/* pricing */

.pricing {
    width: 341px;
    border: 1px solid#e6e5e5;
    border-radius: 6px;
}

.pricing .container {
    margin: 20px;
}

.pricing strong {
    display: block;
    margin-left: calc(100% - 20px - 36px);
    font-size: 34px;
    color: #00bdd6;
}

.pricing .select {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pricing .select select {
    height: 36px;
    background: #f3f4f6;
    border: none;
    outline: none;
    color: #424549;
    font-size: 15px;
}

.pricing .row-total {
    margin-top: 22px;
    display: flex;
}

.pricing .row-total span {
    font-size: 15px;
    color: #b9bdc4;
    letter-spacing: 0.6px;
}

.pricing .row-total b {
    margin-left: auto;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.pricing .btn {
    display: block;
    margin-top: 22px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    border-radius: 4px;
}

.pricing .btn:hover {
    opacity: 0.9;
}

.pricing .btn-buy {
    color: #fff;
    background: #00bdd6;
}

.pricing .btn-add {
    color: #00bdd6;
    border: 1px solid #00bdd6;
}

/* Reviews */
.reviews {
    margin-top: 50px;
}

.reviews .row-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-head-left,
.row-head-right,
.number-review {
    display: flex;
    align-items: center;
}

.row-head-left,
.number-review {
    gap: 4px;
}

.row-head-right i {
    margin-left: 14px;
    font-size: 12px;
    color: #9095a0;
    font-weight: 600;
}

.row-head b {
    font-size: 14px;
    margin-left: 4px;
}

.row-head span {
    color: #9095a0;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.feed-back {
    display: flex;
    flex-wrap: wrap;
}

.feed-back li {
    margin-top: 30px;
    width: calc(50% - 60px);
    margin-right: 60px;
}

.feed-back .row-user,
.feed-back .name {
    display: flex;
    align-items: center;
    gap: 14px;
}

.feed-back .name {
    gap: 6px;
}

.feed-back .name span {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.feed-back .name .time {
    color: #a8acb3;
    font-size: 12px;
    font-weight: 100;
}

.feed-back .info img {
    margin-top: 4px;
}

.feed-back .desc {
    margin-top: 10px;
    font-size: 15px;
    color: #404247;
    line-height: 20px;
}

/* Related products */
.related-products {
    padding: 46px 0px 56px;
}

.related-products .row-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.related-products .list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.related-products .item {
    border: 1px solid #f4f2f2;
    transition: ease 0.3s;
}

.related-products .item:hover {
    box-shadow: 0 0 8px 4px rgba(209, 205, 205, 0.4);
}

.related-products .info {
    margin: 14px 13px 13px;
}

.related-products .row-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.related-products .title {
    font-size: 19px;
}

.related-products .price {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 900;
    color: #00bdd6;
}

.related-products .row-ratting {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.related-products .row-ratting span {
    font-size: 12px;
    color: #9ea3ac;
}
