* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    height: 4000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    border-bottom: 1px solid #f3f3f4;
}

.header .body {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 50px;
}

.header .nav {
    display: flex;
    margin-left: 32px;
}

.header .nav a {
    padding: 8px 21px;
    font-size: 15px;
    color: #565e6c;
}

.header .nav a:hover,
.header .nav .active a {
    color: #00bdd6;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}

.header .nav .active a::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 60px;
    height: 4px;
    background: #00bdd6;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.header .search {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
}

.header .find {
    background: #f3f4f6;
}

.header .find i {
    font-size: 14px;
    color: #6a6c70;
    padding: 0 4px 0 10px;
}

.header .search input {
    width: 333px;
    height: 36px;
    background: #f3f4f6;
    border: none;
    outline: none;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #bcc1ca;
}

/* Product title */

.product-title {
    margin-top: 54px;
}

.product-title .row-nav {
    display: flex;
}

.row-nav h4 {
    margin-right: 6px;
    color: #9095a0;
    font-size: 14px;
    font-weight: 100;
}

.row-nav a:last-child h4 {
    color: #171a1f;
}

.product-title .heading {
    margin-top: 16px;
    font-size: 50px;
}

.product-title .ratting {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratting-left b {
    font-size: 14px;
    margin-left: 4px;
}

.ratting-left a {
    color: #9095a0;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.ratting .ratting-right {
    gap: 50px;
}

.ratting .ratting-left,
.ratting .ratting-right,
.ratting .ratting-right .share,
.ratting .ratting-right .heart {
    display: flex;
    align-items: center;
}

.ratting .ratting-right a {
    color: #171a1f;
    font-size: 13px;
    margin-left: 8px;
}

.ratting .ratting-right i {
    color: #5b5656;
}

.ratting .ratting-right img {
    width: 16px;
    height: 18px;
}

.product-title .list-images {
    margin-top: 16px;
    display: flex;
    gap: 28px;
}

.product-title .img-main img {
    height: 100%;
}

.product-title .img-sub {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.product-title .img-sub img {
    width: calc(50% - 9px);
}

/* Product description */

.product-description-pricing {
    margin-top: 46px;
}

.product-description-pricing .body {
    display: flex;
    justify-content: space-between;
}

.product-description .desc-1,
.product-description .desc-2 {
    width: 777px;
    line-height: 1.6;
    font-size: 14px;
}

.product-description .desc-1 {
    margin-top: 26px;
}

.product-description .list-choise {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.list-choise .row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 26px;
}

.list-choise li:last-child .row {
    gap: 46px;
}

.list-choise .row a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #171a1f;
    font-size: 14px;
}

/* pricing */

.pricing {
    width: 341px;
    border: 1px solid#ccc;
    border-radius: 6px;
}

.pricing .body {
    margin: 20px;
}

.pricing strong {
    display: block;
    margin-left: 78%;
    margin-top: 20px;
    font-size: 34px;
    color: #00bdd6;
}

.pricing .select {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
}
